@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!-- TODO: can we delete this view? Make sure if it is not used anymore -->

<p>Use this page to detail your site's privacy policy.</p>
