@using SameZeraIjedynka.BusinnessLogic.Models;
@model RegisterUserModel

@{
    ViewData["Title"] = "Rejestracja";
}

<div class="container" >
    <!-- ======= Intro Section ======= -->
    <section class="section-services section-t8">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Rejestracja</h2>
                        <p class="color-b">Załóż konto by korzystać z naszego seriwsu</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Intro Section -->

    <div style="background-color: #f4f6ec; padding: 40px; border-radius: 10px;">
        <!-- Start Input Form -->
        <form method="post" action="Register"; class="php-email-form">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Nazwa użytkownika" required asp-for="Name">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Email" required asp-for="Email">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg form-control-a" placeholder="Hasło" required asp-for="Password">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg form-control-a" placeholder="Powtórz hasło" required asp-for="ConfirmPassword">
                    </div>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary()
                    </div>
                }
                <button class="btn btn-b">Zarejestruj</button>
            </div>
        </form><!-- End Input Form -->
    </div>
